body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
.join-text{
    margin-top: -53%;
}
.gt {
  color: #774a96;
  text-align: center;
  font-size: 40px;
}
.city {
  color: rgb(55, 126, 55);
  text-align: center;
  font-size: 30px;
  margin-top: -25px;
  padding-bottom: 30px;
}
.des {
  text-align: center;
  font-size: 23px;
  margin-top: -50px;
}
#timeline {
  width: 100%;
  height: auto;
  margin-top: -23.5px;
}

.atl {
  text-align: center;
  font-size: 23px;
  margin-top: -35px;
}

/* Cards */
.cards > div {
  background-color: white;
  border: 10px solid;
  border-image: linear-gradient(to top right, #addee4, #b7dcc4);
  border-image-slice: 2;
  color: #774a96;
  text-align: center;
  width: 244px;
  height: 300px;
  background-color: #f1f1f1;
  margin-top: 48px;
}
.cards {
  display: grid;
  justify-content: center;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.cards h2 {
  font-size: 60px;
}
.cards p {
  font-size: 30px;
  margin: 0;
}
#pc3 {
  font-size: 40px;
}
/**/

.bhps {
  text-align: center;
  background-color: #774a96;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  font-size: 55px;
  font-style: strong;
  width: 100%;
}

/* HPS */

.hps > div {
  color: black;
  text-align: left;
  width: 70%;
}
.hps {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  grid-auto-rows: auto;
}
.hps p.title {
  font-weight: bolder;
  margin-left: 130px;
  width: 0%;
}
.hps p {
  font-size: 15px;
  padding-top: auto;
  margin-left: 110px;
  width: 80%;
}
.box_1 {
  margin-top: -30px;
  margin-left: 70px;
  width: 40px;
  height: 150px;
  position: absolute;
  border: 1px solid rgba(245, 164, 62, 0.8);
  transform: skew(-25deg);
  background: linear-gradient(
    to right top,
    rgba(245, 164, 21, 1) 0%,
    rgba(237, 103, 49, 1) 100%
  );
}
.box_2 {
  margin-top: -30px;
  margin-left: 70px;
  width: 40px;
  height: 150px;
  position: absolute;
  border: 1px solid #3e9c94;
  transform: skew(-25deg);
  background: linear-gradient(to right top, #3e9c94, #82cc88 100%);
}
.box_3 {
  margin-top: -30px;
  margin-left: 70px;
  width: 40px;
  height: 150px;
  position: absolute;
  border: 1px solid rgb(144, 199, 218);
  transform: skew(-25deg);
  background: linear-gradient(to right top, rgb(144, 199, 218), #7231eb 100%);
}

/**/

.promise {
  text-align: center;
  color: #54348f;
  font-size: 50px;
  text-shadow: 1.5px 2px #876d99;
}

/**/

.ap {
  text-align: center;
  font-size: 25px;
}

/**/

.container {
  display: grid;
  grid-template-columns: 25% 25% 25%;
  grid-template-rows: 45%;
  grid-row-gap: 20px;
  justify-content: space-evenly;
  place-items: center;
  margin-top: 112px;
}

#test {
  width: 320px;
  height: 350px;
}

#text {
  color: white;
  text-shadow: 1.5px 2px #876d99;
  font-size: 40px;
  margin-top: -353px;
  text-align: center;
  align-items: center;
  width: 320px;
  height: 350px;
  backdrop-filter: blur(2px);
}

.caroussel_text {
  color: #774a96;
  opacity: 0.5;
  font-size: 50px;
  margin-bottom: 13%;
}

@media only screen and (max-width: 600px) {
  .gt {
    font-size: 40px;
  }
  .city {
    font-size: 29px;
    margin-top: -20px;
    padding-bottom: 19px;
  }
  #timeline {
    width: 100%;
    height: auto;
    margin-top: -29.5px;
    margin-bottom: 20px;
  }
  .container {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 400px 400px 400px;
    grid-row-gap: 0px;
    margin-left: 170px;
  }
  .cards > div {
    background-color: white;
    border: 10px solid;
    border-image: linear-gradient(to right, #d6effa, #ccf8d0);
    border-image-slice: 2;
    color: blueviolet;
    text-align: center;
    width: 230px;
    height: 270px;
    background-color: #f1f1f1;
    margin-bottom: 30px;
    margin-left: 30px;
  }
  .cards {
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-column-gap: 10%;
    width: auto;
    height: auto;
    grid-auto-rows: auto;
  }
  .cards h2 {
    font-size: 50px;
    text-decoration: underline 3px;
    position: relative;
    margin-bottom: -1cm;
  }
  .cards p {
    font-size: 40px;
    padding-top: -5px;
  }
  .bhps {
    text-align: center;
    width: 100vw;
    background-color: #774a96;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    font-size: 55px;
    margin-top: -0.1px;
    font-style: strong;
  }

  .hps p.title {
    position: relative;
    font-weight: bolder;
    margin-left: 80px;
    margin-bottom: auto;
  }
  .hps p {
    font-size: 17px;
    padding-top: auto;
    margin-left: 70px;
    width: 100%;
  }
  .box_1 {
    margin-top: 0px;
    margin-left: 30px;
    width: 30px;
    height: 100px;
    position: absolute;
    border: 1px solid rgba(245, 164, 62, 0.8);
    transform: skew(-25deg);
    background: linear-gradient(
      to right top,
      rgba(245, 164, 21, 1) 0%,
      rgba(237, 103, 49, 1) 100%
    );
  }
  .box_2 {
    margin-top: 0px;
    margin-left: 30px;
    width: 30px;
    height: 100px;
    position: absolute;
    border: 1px solid #3e9c94;
    transform: skew(-25deg);
    background: linear-gradient(to right top, #3e9c94, #82cc88 100%);
  }
  .box_3 {
    margin-top: 0px;
    margin-left: 30px;
    width: 30px;
    height: 100px;
    position: absolute;
    border: 1px solid rgb(144, 199, 218);
    transform: skew(-25deg);
    background: linear-gradient(to right top, rgb(144, 199, 218), #7231eb 100%);
  }
}

/* Zoom : 125% */

@media only screen and (max-width: 1093px) {
    .join-text{
        margin-top: -88%;
    }
  /*cards*/
  .cards > div {
    background-color: white;
    border: 6px solid;
    border-image: linear-gradient(to top right, #addee4, #b7dcc4);
    border-image-slice: 2;
    color: #774a96;
    text-align: center;
    width: 240px;
    height: 320px;
    background-color: #f1f1f1;
    margin-top: 48px;
  }
  .cards {
    display: grid;
    justify-content: center;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .cards h2 {
    font-size: 50px;
  }
  .cards p {
    font-size: 24px;
    margin: 0;
  }

  /**/
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    place-items: center;
    margin: 100px;
  }
  #test {
    width: 266px;
    height: 318px;
  }
  #text {
    color: white;
    text-shadow: 1.5px 2px #876d99;
    font-size: 40px;
    margin-top: -322px;
    text-align: center;
    align-items: center;
    width: 266px;
    height: 318px;
    backdrop-filter: blur(2px);
  }
}

:root {
  --violet: #6d2d9c;
  --green: #26cf58;
  --yellow: #fec900;
}

.HPS-image-header {
  width: 35%;
}

.HPS-image {
  height: 48%;
  width: 80%;
  margin-left: 10%;
}

.header {
  margin-top: 64px;
  display: flex;
  justify-content: space-around;
}

.left-header {
  font-weight: bold;
  font-size: 90px;
  width: 50%;
}

.right-header-navbar {
  display: flex;
  align-items: center;
  color: var(--violet);
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.right-header-item {
  padding-left: 16px;
  cursor: pointer;
}

.sub-header {
  display: flex;
  margin-top: 46px;
}

.people-image {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 550px;
  height: 360px;
  z-index: 10;
  margin-top: 62px;
}

.image-left-side {
  height: 100%;
  width: 110%;
}

/* .background-for-image { */

/* position: absolute;
          background-image: linear-gradient(to right, #25ce90, #2acdf8); */
/* width: 500px;
          height: 500px; */
/* z-index: 1;
          margin-right: 1210px; */
/* } */

.join-us-text {
  color: var(--violet);
  display: flex;
  display: flex;
  align-items: center;
  align-self: flex-start;
  margin-top: 100px;
  flex-direction: column;
  margin-left: -56px;
}

.join-us-1 {
  color: white;
  font-size: 60px;
  background-color: var(--violet);
  margin: 0;
  width: 320px;
  padding-left: 20px;
}
.join-us-2 {
  color: white;
  font-size: 60px;
  background-color: var(--violet);
  margin: 0;
  width: 245px;
  padding-left: 20px;
}
.join-us-3 {
  color: white;
  font-size: 60px;
  background-color: var(--violet);
  margin: 0;
  width: 360px;
  padding-left: 20px;
}
.apply-now {
  font-family: inherit;
  font-size: 40px;
  font-weight: 600;
  color: white;
  border-radius: 50px;
  width: 80%;
  height: 110px;
  background: linear-gradient(to top right, #57b0dd, var(--violet));
  margin-top: 39px;
  border: 0px solid var(--violet);
  margin-right: 46px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}

.we-are-hps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.we-are-title {
  display: flex;
  color: var(--violet);
  justify-content: center;
  font-weight: 700;
  font-size: 80px;
  margin-bottom: 0;
}

.we-are-paragraph {
  display: flex;
  color: black;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  width: 500px;
}

.middle-cards {
  display: flex;
  justify-content: space-around;
  margin-top: 200px;
}

.card {
  background-color: #f9f9f9;
  width: 400px;
  height: 480px;
}

.fa-solid {
  display: flex;
  justify-content: center;
}

.important-number {
  display: flex;
  justify-content: center;
  color: var(--violet);
  font-size: 120px;
  margin-bottom: 0px;
}

.attr-of-number {
  display: flex;
  justify-content: center;
  color: var(--violet);
  font-size: 30px;
  margin-top: 0;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -100px;
}

.fa-solid-v {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--violet);
  width: 250px;
  height: 250px;
}

.fa-solid-g {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #26cf58;
  width: 250px;
  height: 250px;
}

.fa-solid-b {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #29cdff;
  width: 250px;
  height: 250px;
}

.slider-title-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-left: 0;
  background-color: #f9f9f9;
  width: 99.5vw;
  height: 250px;
  margin-top: 200px;
}

.our-values-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--violet);
  font-size: 50px;
  color: white;
  width: 330px;
  height: 110px;
  margin-top: 64px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  margin-left: 16px;
  margin-right: 56px;
  padding: 16px;
  color: var(--violet);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: lightgrey;
}

/* Caption text */
.text {
  display: flex;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  margin-top: 0;
  font-size: 15px;
  padding: 8px 2px;
  top: 60%;
  width: 30%;
  text-align: START;
  align-items: end;
  margin-bottom: 175px;
  margin-left: 21px;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.mySlides fade {
  display: flex;
}

.reasons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.reasons-title {
  background-color: var(--green);
  color: white;
  font-weight: 300;
  width: 265px;
  padding: 16px;
}

.reasons-card-container-top {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.reasons-card-container-bottom {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.reasons-card {
  background-color: #f9f9f9;
  width: 640px;
  height: 800px;
  margin: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.reasons-card-title {
  color: var(--violet);
  font-weight: 500;
  font-size: 100px;
  letter-spacing: -5px;
  margin: 100px;
  margin-top: 50px;
}

.reasons-card-paragraph {
  margin: 24px;
  font-size: 24px;
}

.reasons-card-paragraph-wrapper {
  margin: -78px 75px 0px 75px;
}

.footer-container {
  width: 100%;
  height: 490px;
  background-color: var(--violet);
}

.before-line {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 30px;
}

.before-line-title {
  color: white;
  font-size: 42px;
  width: 220px;
  font-weight: 400;
}

.apply-now-footer {
  font-family: inherit;
  font-size: 33px;
  font-weight: 500;
  color: black;
  border-radius: 50px;
  width: 335px;
  height: 75px;
  background-color: var(--yellow);
  margin-right: 46px;
  outline: none;
  text-decoration: none;
  border: 4px thin var(--yellow);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}

hr {
  width: 95%;
  text-align: center;
  margin-left: 30px;
}

.after-line-title {
  align-self: flex-start;
  width: 30%;
}

.after-line {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-services {
  color: white;
  cursor: pointer;
}

.contact-us-links {
  color: white;
  cursor: pointer;
}

.flexed-text {
  width: 25%;
  margin-left: -34%;
  margin-top: 18%;
  background-color: white;
  color: #774a96;
}
